In [82]:
import pandas as pd
import numpy as np

In [83]:
data = {
    "Product_ID": ["P001", "P002","P003", "P004","P001", "P005","P007", "P008", "P002","P009", "P004","P011", "P012","P013", "P014",],
    "Product_Name": ["Headphones", "Mouse", "lAPtop", "Tablet", "KEYBOARD", None, "printer", "Scanner", "Camera", None, "Charger", "SPeaker", "Microphones",
        "Cables", None],
    "Category": ["electronics", "electronics", "Electronics", "ELECTRONICS",
                 "accessories", "electronics", "Electronics", "electronics",
                 "electronics", "Electronics", "accessories", "accessories",
                 "accessories", "ACCESSORIES", ""],
    
    "Supplier": ["SoundMax", "KeyMakers", "TechCorp", "MobileHub", "KeyMakers",
                 "TechCorp", "PrintPro", "ScanIt", "PhotoGear", "PhotoGear",
                 "ChargePlus", "SoundMax", "SoundMax", "WireWorld", "WireWorld"],
    
    "Quantity": [20, 50, "ten", -5, 30, None, 12, 8, 0, 15, 40, 25, 1000, 60, -2],
    
    "Unit_Price": [80, 25, 1200, 400, 45, None, -300, 220, 500, 480,
                    15, 90, 35, 10, 99999],
    
    "Reorder_Level": [10, 20, 5, 10, 15, 8, 10, 6, 12, 10, 20, 15, 30, 25, 10],
    
    "Last_Update": ["2025-01-10", "2025/01/12", "10-01-2025", None,
                    "2025-02-01", "invalid", "2025-01-20", "2025/02/05",
                    "2025-01-25", "", "2025-01-30", "2025/02/01",
                    "2025-02-03", "03-02-2025", None]
}

df = pd.DataFrame(data)
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Headphones,electronics,SoundMax,20,80.0,10,2025-01-10
1,P002,Mouse,electronics,KeyMakers,50,25.0,20,2025/01/12
2,P003,lAPtop,Electronics,TechCorp,ten,1200.0,5,10-01-2025
3,P004,Tablet,ELECTRONICS,MobileHub,-5,400.0,10,NaN
4,P001,KEYBOARD,accessories,KeyMakers,30,45.0,15,2025-02-01
5,P005,NaN,electronics,TechCorp,None,NaN,8,invalid
6,P007,printer,Electronics,PrintPro,12,-300.0,10,2025-01-20
7,P008,Scanner,electronics,ScanIt,8,220.0,6,2025/02/05
8,P002,Camera,electronics,PhotoGear,0,500.0,12,2025-01-25
9,P009,NaN,Electronics,PhotoGear,15,480.0,10,
10,P004,Charger,accessories,ChargePlus,40,15.0,20,2025-01-30
11,P011,SPeaker,accessories,SoundMax,25,90.0,15,2025/02/01
12,P012,Microphones,accessories,SoundMax,1000,35.0,30,2025-02-03
13,P013,Cables,ACCESSORIES,WireWorld,60,10.0,25,03-02-2025
14,P014,NaN,,WireWorld,-2,99999.0,10,NaN

In [84]:
df.head()

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Headphones,electronics,SoundMax,20,80.0,10,2025-01-10
1,P002,Mouse,electronics,KeyMakers,50,25.0,20,2025/01/12
2,P003,lAPtop,Electronics,TechCorp,ten,1200.0,5,10-01-2025
3,P004,Tablet,ELECTRONICS,MobileHub,-5,400.0,10,NaN
4,P001,KEYBOARD,accessories,KeyMakers,30,45.0,15,2025-02-01

In [85]:
df.tail()

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
10,P004,Charger,accessories,ChargePlus,40,15.0,20,2025-01-30
11,P011,SPeaker,accessories,SoundMax,25,90.0,15,2025/02/01
12,P012,Microphones,accessories,SoundMax,1000,35.0,30,2025-02-03
13,P013,Cables,ACCESSORIES,WireWorld,60,10.0,25,03-02-2025
14,P014,NaN,,WireWorld,-2,99999.0,10,NaN

In [86]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     15 non-null     str
 1   Product_Name   12 non-null     str
 2   Category       15 non-null     str
 3   Supplier       15 non-null     str
 4   Quantity       14 non-null     object
 5   Unit_Price     14 non-null     float64
 6   Reorder_Level  15 non-null     int64
 7   Last_Update    13 non-null     str
dtypes: float64(1), int64(1), object(1), str(5)
memory usage: 1.1+ KB

In [87]:
df.describe()

         Unit_Price  Reorder_Level
count     14.000000      15.000000
mean    7342.785714      13.733333
std    26670.650063       7.146095
min     -300.000000       5.000000
25%       27.500000      10.000000
50%       85.000000      10.000000
75%      460.000000      17.500000
max    99999.000000      30.000000

In [88]:
df.replace(["invalid", "Invalid", ""], np.nan, inplace=True)

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Headphones,electronics,SoundMax,20,80.0,10,2025-01-10
1,P002,Mouse,electronics,KeyMakers,50,25.0,20,2025/01/12
2,P003,lAPtop,Electronics,TechCorp,ten,1200.0,5,10-01-2025
3,P004,Tablet,ELECTRONICS,MobileHub,-5,400.0,10,NaN
4,P001,KEYBOARD,accessories,KeyMakers,30,45.0,15,2025-02-01
5,P005,NaN,electronics,TechCorp,None,NaN,8,NaN
6,P007,printer,Electronics,PrintPro,12,-300.0,10,2025-01-20
7,P008,Scanner,electronics,ScanIt,8,220.0,6,2025/02/05
8,P002,Camera,electronics,PhotoGear,0,500.0,12,2025-01-25
9,P009,NaN,Electronics,PhotoGear,15,480.0,10,NaN
10,P004,Charger,accessories,ChargePlus,40,15.0,20,2025-01-30
11,P011,SPeaker,accessories,SoundMax,25,90.0,15,2025/02/01
12,P012,Microphones,accessories,SoundMax,1000,35.0,30,2025-02-03
13,P013,Cables,ACCESSORIES,WireWorld,60,10.0,25,03-02-2025
14,P014,NaN,NaN,WireWorld,-2,99999.0,10,NaN

In [89]:
df.isna().sum()

Product_ID       0
Product_Name     3
Category         1
Supplier         0
Quantity         1
Unit_Price       1
Reorder_Level    0
Last_Update      4
dtype: int64

In [90]:
#cleaning the Product_ID
df["Product_ID"]

0     P001
1     P002
2     P003
3     P004
4     P001
5     P005
6     P007
7     P008
8     P002
9     P009
10    P004
11    P011
12    P012
13    P013
14    P014
Name: Product_ID, dtype: str

In [91]:
df[df["Product_ID"].duplicated(keep=False)]

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Headphones,electronics,SoundMax,20,80.0,10,2025-01-10
1,P002,Mouse,electronics,KeyMakers,50,25.0,20,2025/01/12
3,P004,Tablet,ELECTRONICS,MobileHub,-5,400.0,10,NaN
4,P001,KEYBOARD,accessories,KeyMakers,30,45.0,15,2025-02-01
8,P002,Camera,electronics,PhotoGear,0,500.0,12,2025-01-25
10,P004,Charger,accessories,ChargePlus,40,15.0,20,2025-01-30

In [92]:
#cleaning product_name
df["Product_Name"]

0      Headphones
1           Mouse
2          lAPtop
3          Tablet
4        KEYBOARD
5             NaN
6         printer
7         Scanner
8          Camera
9             NaN
10        Charger
11        SPeaker
12    Microphones
13         Cables
14            NaN
Name: Product_Name, dtype: str

In [93]:
df.fillna({"Product_Name" : "Unknown"}, inplace=True)

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Headphones,electronics,SoundMax,20,80.0,10,2025-01-10
1,P002,Mouse,electronics,KeyMakers,50,25.0,20,2025/01/12
2,P003,lAPtop,Electronics,TechCorp,ten,1200.0,5,10-01-2025
3,P004,Tablet,ELECTRONICS,MobileHub,-5,400.0,10,NaN
4,P001,KEYBOARD,accessories,KeyMakers,30,45.0,15,2025-02-01
5,P005,Unknown,electronics,TechCorp,None,NaN,8,NaN
6,P007,printer,Electronics,PrintPro,12,-300.0,10,2025-01-20
7,P008,Scanner,electronics,ScanIt,8,220.0,6,2025/02/05
8,P002,Camera,electronics,PhotoGear,0,500.0,12,2025-01-25
9,P009,Unknown,Electronics,PhotoGear,15,480.0,10,NaN
10,P004,Charger,accessories,ChargePlus,40,15.0,20,2025-01-30
11,P011,SPeaker,accessories,SoundMax,25,90.0,15,2025/02/01
12,P012,Microphones,accessories,SoundMax,1000,35.0,30,2025-02-03
13,P013,Cables,ACCESSORIES,WireWorld,60,10.0,25,03-02-2025
14,P014,Unknown,NaN,WireWorld,-2,99999.0,10,NaN

In [94]:
df["Product_Name"] = df["Product_Name"].str.strip().str.lower()
df["Product_Name"]

0      headphones
1           mouse
2          laptop
3          tablet
4        keyboard
5         unknown
6         printer
7         scanner
8          camera
9         unknown
10        charger
11        speaker
12    microphones
13         cables
14        unknown
Name: Product_Name, dtype: str

In [95]:
#Cleaning Category#
df["Category"]

0     electronics
1     electronics
2     Electronics
3     ELECTRONICS
4     accessories
5     electronics
6     Electronics
7     electronics
8     electronics
9     Electronics
10    accessories
11    accessories
12    accessories
13    ACCESSORIES
14            NaN
Name: Category, dtype: str

In [96]:
df.fillna({"Category" : "Unknown"}, inplace=True)

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,headphones,electronics,SoundMax,20,80.0,10,2025-01-10
1,P002,mouse,electronics,KeyMakers,50,25.0,20,2025/01/12
2,P003,laptop,Electronics,TechCorp,ten,1200.0,5,10-01-2025
3,P004,tablet,ELECTRONICS,MobileHub,-5,400.0,10,NaN
4,P001,keyboard,accessories,KeyMakers,30,45.0,15,2025-02-01
5,P005,unknown,electronics,TechCorp,None,NaN,8,NaN
6,P007,printer,Electronics,PrintPro,12,-300.0,10,2025-01-20
7,P008,scanner,electronics,ScanIt,8,220.0,6,2025/02/05
8,P002,camera,electronics,PhotoGear,0,500.0,12,2025-01-25
9,P009,unknown,Electronics,PhotoGear,15,480.0,10,NaN
10,P004,charger,accessories,ChargePlus,40,15.0,20,2025-01-30
11,P011,speaker,accessories,SoundMax,25,90.0,15,2025/02/01
12,P012,microphones,accessories,SoundMax,1000,35.0,30,2025-02-03
13,P013,cables,ACCESSORIES,WireWorld,60,10.0,25,03-02-2025
14,P014,unknown,Unknown,WireWorld,-2,99999.0,10,NaN

In [97]:
df["Category"] = df["Category"].str.strip().str.lower()
df["Category"]

0     electronics
1     electronics
2     electronics
3     electronics
4     accessories
5     electronics
6     electronics
7     electronics
8     electronics
9     electronics
10    accessories
11    accessories
12    accessories
13    accessories
14        unknown
Name: Category, dtype: str

In [98]:
#Cleaning Suppliers
df["Supplier"]

0       SoundMax
1      KeyMakers
2       TechCorp
3      MobileHub
4      KeyMakers
5       TechCorp
6       PrintPro
7         ScanIt
8      PhotoGear
9      PhotoGear
10    ChargePlus
11      SoundMax
12      SoundMax
13     WireWorld
14     WireWorld
Name: Supplier, dtype: str

In [99]:
df["Quantity"]

0       20
1       50
2      ten
3       -5
4       30
5     None
6       12
7        8
8        0
9       15
10      40
11      25
12    1000
13      60
14      -2
Name: Quantity, dtype: object

In [100]:
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df["Quantity"]

0       20.0
1       50.0
2        NaN
3       -5.0
4       30.0
5        NaN
6       12.0
7        8.0
8        0.0
9       15.0
10      40.0
11      25.0
12    1000.0
13      60.0
14      -2.0
Name: Quantity, dtype: float64

In [101]:
df["Quantity"] = df["Quantity"].fillna(df["Quantity"].median())
df["Quantity"]

0       20.0
1       50.0
2       20.0
3       -5.0
4       30.0
5       20.0
6       12.0
7        8.0
8        0.0
9       15.0
10      40.0
11      25.0
12    1000.0
13      60.0
14      -2.0
Name: Quantity, dtype: float64

In [104]:
median_price = df["Quantity"].median()
df.loc[df["Quantity"] <= 0, "Quantity"] = median_price
df.loc[df["Quantity"] > 100, "Quantity"] = median_price
df["Quantity"]

0     20.0
1     50.0
2     20.0
3     20.0
4     30.0
5     20.0
6     12.0
7      8.0
8     20.0
9     15.0
10    40.0
11    25.0
12    20.0
13    60.0
14    20.0
Name: Quantity, dtype: float64

In [105]:
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,headphones,electronics,SoundMax,20.0,80.0,10,2025-01-10
1,P002,mouse,electronics,KeyMakers,50.0,25.0,20,2025/01/12
2,P003,laptop,electronics,TechCorp,20.0,1200.0,5,10-01-2025
3,P004,tablet,electronics,MobileHub,20.0,400.0,10,NaN
4,P001,keyboard,accessories,KeyMakers,30.0,45.0,15,2025-02-01
5,P005,unknown,electronics,TechCorp,20.0,NaN,8,NaN
6,P007,printer,electronics,PrintPro,12.0,-300.0,10,2025-01-20
7,P008,scanner,electronics,ScanIt,8.0,220.0,6,2025/02/05
8,P002,camera,electronics,PhotoGear,20.0,500.0,12,2025-01-25
9,P009,unknown,electronics,PhotoGear,15.0,480.0,10,NaN
10,P004,charger,accessories,ChargePlus,40.0,15.0,20,2025-01-30
11,P011,speaker,accessories,SoundMax,25.0,90.0,15,2025/02/01
12,P012,microphones,accessories,SoundMax,20.0,35.0,30,2025-02-03
13,P013,cables,accessories,WireWorld,60.0,10.0,25,03-02-2025
14,P014,unknown,unknown,WireWorld,20.0,99999.0,10,NaN

In [120]:
#cleaning unit_price
df["Unit_Price"]

0       80.0
1       25.0
2     1200.0
3      400.0
4       45.0
5       85.0
6       85.0
7      220.0
8      500.0
9      480.0
10      15.0
11      90.0
12      35.0
13      10.0
14      85.0
Name: Unit_Price, dtype: float64

In [119]:
df["Unit_Price"] = pd.to_numeric(df["Unit_Price"], errors="coerce")
df["Unit_Price"]

0       80.0
1       25.0
2     1200.0
3      400.0
4       45.0
5       85.0
6       85.0
7      220.0
8      500.0
9      480.0
10      15.0
11      90.0
12      35.0
13      10.0
14      85.0
Name: Unit_Price, dtype: float64

In [121]:
median_price2 = df["Unit_Price"].median()
df["Unit_Price"] = df["Unit_Price"].fillna(median_price2)
df["Unit_Price"]

0       80.0
1       25.0
2     1200.0
3      400.0
4       45.0
5       85.0
6       85.0
7      220.0
8      500.0
9      480.0
10      15.0
11      90.0
12      35.0
13      10.0
14      85.0
Name: Unit_Price, dtype: float64

In [122]:
df.loc[df["Unit_Price"] <= 0, "Unit_Price"] = median_price2
df.loc[df["Unit_Price"] > 10000, "Unit_Price"] = median_price2
df["Unit_Price"]

0       80.0
1       25.0
2     1200.0
3      400.0
4       45.0
5       85.0
6       85.0
7      220.0
8      500.0
9      480.0
10      15.0
11      90.0
12      35.0
13      10.0
14      85.0
Name: Unit_Price, dtype: float64

In [125]:
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,headphones,electronics,SoundMax,20.0,80.0,10,2025-01-10
1,P002,mouse,electronics,KeyMakers,50.0,25.0,20,2025/01/12
2,P003,laptop,electronics,TechCorp,20.0,1200.0,5,10-01-2025
3,P004,tablet,electronics,MobileHub,20.0,400.0,10,NaN
4,P001,keyboard,accessories,KeyMakers,30.0,45.0,15,2025-02-01
5,P005,unknown,electronics,TechCorp,20.0,85.0,8,NaN
6,P007,printer,electronics,PrintPro,12.0,85.0,10,2025-01-20
7,P008,scanner,electronics,ScanIt,8.0,220.0,6,2025/02/05
8,P002,camera,electronics,PhotoGear,20.0,500.0,12,2025-01-25
9,P009,unknown,electronics,PhotoGear,15.0,480.0,10,NaN
10,P004,charger,accessories,ChargePlus,40.0,15.0,20,2025-01-30
11,P011,speaker,accessories,SoundMax,25.0,90.0,15,2025/02/01
12,P012,microphones,accessories,SoundMax,20.0,35.0,30,2025-02-03
13,P013,cables,accessories,WireWorld,60.0,10.0,25,03-02-2025
14,P014,unknown,unknown,WireWorld,20.0,85.0,10,NaN

In [127]:
#Cleaning reorder_level
df["Reorder_Level"]

0     10
1     20
2      5
3     10
4     15
5      8
6     10
7      6
8     12
9     10
10    20
11    15
12    30
13    25
14    10
Name: Reorder_Level, dtype: int64

In [128]:
#cleaning last_update
df["Last_Update"]

0     2025-01-10
1     2025/01/12
2     10-01-2025
3            NaN
4     2025-02-01
5            NaN
6     2025-01-20
7     2025/02/05
8     2025-01-25
9            NaN
10    2025-01-30
11    2025/02/01
12    2025-02-03
13    03-02-2025
14           NaN
Name: Last_Update, dtype: str

In [130]:
df["Last_Update"] = pd.to_datetime(df["Last_Update"], errors="coerce")
df["Last_Update"]

0    2025-01-10
1           NaT
2           NaT
3           NaT
4    2025-02-01
5           NaT
6    2025-01-20
7           NaT
8    2025-01-25
9           NaT
10   2025-01-30
11          NaT
12   2025-02-03
13          NaT
14          NaT
Name: Last_Update, dtype: datetime64[us]

In [131]:
df["Last_Update"]: ["2025-01-10", "2025/01/12", "10-01-2025", None,
                    "2025-02-01", "invalid", "2025-01-20", "2025/02/05",
                    "2025-01-25", "", "2025-01-30", "2025/02/01",
                    "2025-02-03", "03-02-2025", None]

In [132]:
df["Last_Update"]

0    2025-01-10
1           NaT
2           NaT
3           NaT
4    2025-02-01
5           NaT
6    2025-01-20
7           NaT
8    2025-01-25
9           NaT
10   2025-01-30
11          NaT
12   2025-02-03
13          NaT
14          NaT
Name: Last_Update, dtype: datetime64[us]

In [135]:
df["Last_Update"] = df["Last_Update"].fillna(df["Last_Update"].mode()[0])
df["Last_Update"]

0    2025-01-10
1    2025-01-10
2    2025-01-10
3    2025-01-10
4    2025-02-01
5    2025-01-10
6    2025-01-20
7    2025-01-10
8    2025-01-25
9    2025-01-10
10   2025-01-30
11   2025-01-10
12   2025-02-03
13   2025-01-10
14   2025-01-10
Name: Last_Update, dtype: datetime64[us]

In [138]:
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,headphones,electronics,SoundMax,20.0,80.0,10,2025-01-10
1,P002,mouse,electronics,KeyMakers,50.0,25.0,20,2025-01-10
2,P003,laptop,electronics,TechCorp,20.0,1200.0,5,2025-01-10
3,P004,tablet,electronics,MobileHub,20.0,400.0,10,2025-01-10
4,P001,keyboard,accessories,KeyMakers,30.0,45.0,15,2025-02-01
5,P005,unknown,electronics,TechCorp,20.0,85.0,8,2025-01-10
6,P007,printer,electronics,PrintPro,12.0,85.0,10,2025-01-20
7,P008,scanner,electronics,ScanIt,8.0,220.0,6,2025-01-10
8,P002,camera,electronics,PhotoGear,20.0,500.0,12,2025-01-25
9,P009,unknown,electronics,PhotoGear,15.0,480.0,10,2025-01-10
10,P004,charger,accessories,ChargePlus,40.0,15.0,20,2025-01-30
11,P011,speaker,accessories,SoundMax,25.0,90.0,15,2025-01-10
12,P012,microphones,accessories,SoundMax,20.0,35.0,30,2025-02-03
13,P013,cables,accessories,WireWorld,60.0,10.0,25,2025-01-10
14,P014,unknown,unknown,WireWorld,20.0,85.0,10,2025-01-10

In [147]:
#Products needing restocking
restock = df[df["Quantity"] < df["Reorder_Level"]][["Product_ID","Product_Name","Quantity","Reorder_Level"]]
restock

   Product_ID Product_Name  Quantity  Reorder_Level
12       P012  microphones      20.0             30

In [146]:
#Average unit_price by category
avg_price = df.groupby("Category")["Unit_Price"].mean()
avg_price

Category
accessories     39.000000
electronics    341.666667
unknown         85.000000
Name: Unit_Price, dtype: float64

In [141]:
#Supplier that provides the most products
top_supplier = df["Supplier"].mode()[0]
print(f"Supplier with most products: {top_supplier}")

Supplier with most products: SoundMax

In [145]:
#Top 5 most expensive products
top5_expensive = df.sort_values("Unit_Price", ascending=False).head(5)
top5_expensive[["Product_ID","Product_Name","Unit_Price"]]

  Product_ID Product_Name  Unit_Price
2       P003       laptop      1200.0
8       P002       camera       500.0
9       P009      unknown       480.0
3       P004       tablet       400.0
7       P008      scanner       220.0

In [144]:
df_sorted = df.sort_values(["Category", "Unit_Price"], ascending=[True, False])
df_sorted

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
11,P011,speaker,accessories,SoundMax,25.0,90.0,15,2025-01-10
4,P001,keyboard,accessories,KeyMakers,30.0,45.0,15,2025-02-01
12,P012,microphones,accessories,SoundMax,20.0,35.0,30,2025-02-03
10,P004,charger,accessories,ChargePlus,40.0,15.0,20,2025-01-30
13,P013,cables,accessories,WireWorld,60.0,10.0,25,2025-01-10
2,P003,laptop,electronics,TechCorp,20.0,1200.0,5,2025-01-10
8,P002,camera,electronics,PhotoGear,20.0,500.0,12,2025-01-25
9,P009,unknown,electronics,PhotoGear,15.0,480.0,10,2025-01-10
3,P004,tablet,electronics,MobileHub,20.0,400.0,10,2025-01-10
7,P008,scanner,electronics,ScanIt,8.0,220.0,6,2025-01-10
5,P005,unknown,electronics,TechCorp,20.0,85.0,8,2025-01-10
6,P007,printer,electronics,PrintPro,12.0,85.0,10,2025-01-20
0,P001,headphones,electronics,SoundMax,20.0,80.0,10,2025-01-10
1,P002,mouse,electronics,KeyMakers,50.0,25.0,20,2025-01-10
14,P014,unknown,unknown,WireWorld,20.0,85.0,10,2025-01-10